@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Lista de Grupo</h1>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Asignar Calificaciones</a></p>
    </section>


</main>